*{
	margin: 0;
	padding: 0;
}


body{
   background: #efefef;
   box-sizing: border-box;
   color: #000;
   font-size:0.24rem ;
   font-family: Arial,"Lucida Grande",Verdana,"Microsoft YaHei";
   border: 0;
   overflow-x:hidden;
   overflow-y: scroll;
   height: 60rem;
}
img{
	vertical-align: middle;
}
ul li{
	list-style: none;
}
